<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleStopWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC78ABE91CB68557007AF67E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC78AC021CB68557007AF67E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC78AC0D1CB68557007AF67E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
